# .gitignore file for https://github.com/StevenWard94/LearningHaskell

# the 'etc/' directory could quickly become pretty large and is all available elsewhere...
# NOTE: this entry leaves an empty 'etc/' directory in the remote repository
etc/**

# ignore "dotfiles" in the repository's top-level directory (e.g. '.exrc' or '.ghci')
.*
#### EXCEPTIONS ####
!.*/
!.gitignore

# quasi-personal directories I generally have git ignore
.tmp/
.notes/
.local/
